In [38]:
import pandas as pd
import numpy as np
from babel.numbers import format_currency

In [39]:
df = pd.read_csv('csv/FINAL_SPINNY_900.csv')

In [40]:
# Displaying all columns in file for simplicity

pd.set_option('display.max_columns', 20)

In [41]:
df.head()

,Car_Name,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),Engine_Type,CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,Volkswagen Ameo [2016-2017] Highline 1.5L AT (D),Volkswagen,Ameo,2017,silver,sedan,"44,611",1st,5,diesel,45,1.5L TDI Engine,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000"
1,Hyundai i20 Active [2015-2020] 1.2 SX,Hyundai,i20 Active,2016,red,crossover,"20,305",1st,5,petrol,45,1.2L Kappa 5 Speed Manual Transmission,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000"
2,Honda WR-V VX i-VTEC,Honda,WR-V,2019,white,suv,"29,540",2nd,5,petrol,40,i-VTEC Petrol engine,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000"
3,Renault Kwid 1.0 RXT AMT,Renault,Kwid,2017,bronze,hatchback,"35,680",1st,5,petrol,28,1.0L,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000"
4,Hyundai Grand i10 [2017-2020] Asta 1.2 Kappa VTVT,Hyundai,Grand i10,2017,orange,hatchback,"25,126",1st,5,petrol,43,Kappa VTVT Petrol Engine,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000"

In [42]:
# getting info about file and data types

# df.info()

In [43]:
# Getting column names

df.columns

Index(['Car_Name', 'Make', 'Model', 'Make_Year', 'Color', 'Body_Type',
       'Mileage_Run', 'No_of_Owners', 'Seating_Capacity', 'Fuel_Type',
       'Fuel_Tank_Capacity(L)', 'Engine_Type', 'CC_Displacement',
       'Transmission', 'Transmission_Type', 'Power(BHP)', 'Torque(Nm)',
       'Mileage(kmpl)', 'Emission', 'Price'],
      dtype='object')

In [44]:
# Removing 'Car_Name' and 'Engine_Type' columns
# Don't run this cell more than once!!! if needed, rerun the whole doc!

df.drop(['Car_Name', 'Engine_Type'], axis=1, inplace=True)

In [45]:
df.head()

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,Volkswagen,Ameo,2017,silver,sedan,"44,611",1st,5,diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000"
1,Hyundai,i20 Active,2016,red,crossover,"20,305",1st,5,petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000"
2,Honda,WR-V,2019,white,suv,"29,540",2nd,5,petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000"
3,Renault,Kwid,2017,bronze,hatchback,"35,680",1st,5,petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000"
4,Hyundai,Grand i10,2017,orange,hatchback,"25,126",1st,5,petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000"

In [46]:
# Changing values to uppercase

df[['Color','Body_Type', 'Fuel_Type']] = df[['Color','Body_Type', 'Fuel_Type']].apply(lambda x: x.str.title())
df.head()

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,Volkswagen,Ameo,2017,Silver,Sedan,"44,611",1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000"
1,Hyundai,i20 Active,2016,Red,Crossover,"20,305",1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000"
2,Honda,WR-V,2019,White,Suv,"29,540",2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000"
3,Renault,Kwid,2017,Bronze,Hatchback,"35,680",1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000"
4,Hyundai,Grand i10,2017,Orange,Hatchback,"25,126",1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000"

In [47]:
# Checking the count of repeating values in 'No_of_Owners' column

df['No_of_Owners'].value_counts()

1st    818
2nd    154
3rd      4
Name: No_of_Owners, dtype: int64

In [48]:
# Checking for duplicate rows.
# From the info() result there are 62 duplicate rows

df.duplicated().value_counts()

False    914
True      62
dtype: int64

In [49]:
# Returning only unique rows

df = df.drop_duplicates()
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,Volkswagen,Ameo,2017,Silver,Sedan,"44,611",1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000"
1,Hyundai,i20 Active,2016,Red,Crossover,"20,305",1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000"
2,Honda,WR-V,2019,White,Suv,"29,540",2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000"
3,Renault,Kwid,2017,Bronze,Hatchback,"35,680",1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000"
4,Hyundai,Grand i10,2017,Orange,Hatchback,"25,126",1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,"23,869",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,"9,56,000"
972,Hyundai,Verna,2019,White,Sedan,"14,831",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,"10,27,000"
973,Hyundai,Verna,2014,Silver,Sedan,"52,846",1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,"7,36,000"
974,Ford,Freestyle,2020,White,Crossover,"28,335",2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,"7,49,000"
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,"41,176",1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,"6,91,000"

In [50]:
# Adding an ID column

df['car_id'] = df.index + 1
df.head()

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,"44,611",1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,"6,57,000",1
1,Hyundai,i20 Active,2016,Red,Crossover,"20,305",1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,"6,82,000",2
2,Honda,WR-V,2019,White,Suv,"29,540",2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,"7,93,000",3
3,Renault,Kwid,2017,Bronze,Hatchback,"35,680",1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,"4,14,000",4
4,Hyundai,Grand i10,2017,Orange,Hatchback,"25,126",1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,"5,15,000",5

In [51]:
# Checking 'Price' column before cleaning the data

df['Price']

0       6,57,000
1       6,82,000
2       7,93,000
3       4,14,000
4       5,15,000
         ...
971     9,56,000
972    10,27,000
973     7,36,000
974     7,49,000
975     6,91,000
Name: Price, Length: 914, dtype: object

In [52]:
# Checking to see if there are values in different formats and with different characters

df['Price'].apply(type).value_counts()

<class 'str'>    914
Name: Price, dtype: int64

In [53]:
# Removing ',' characters from values in 'Price' column

df['Price'].replace(',', '', regex=True, inplace=True)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,"44,611",1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,657000,1
1,Hyundai,i20 Active,2016,Red,Crossover,"20,305",1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,682000,2
2,Honda,WR-V,2019,White,Suv,"29,540",2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,793000,3
3,Renault,Kwid,2017,Bronze,Hatchback,"35,680",1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,414000,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,"25,126",1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,515000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,"23,869",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,956000,972
972,Hyundai,Verna,2019,White,Sedan,"14,831",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,1027000,973
973,Hyundai,Verna,2014,Silver,Sedan,"52,846",1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,736000,974
974,Ford,Freestyle,2020,White,Crossover,"28,335",2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,749000,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,"41,176",1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,691000,976

In [54]:
# Checking 'Price' column after cleaning the data

df['Price']

0       657000
1       682000
2       793000
3       414000
4       515000
        ...
971     956000
972    1027000
973     736000
974     749000
975     691000
Name: Price, Length: 914, dtype: object

In [55]:
# Changing the data type

df['Price'] = df['Price'].astype(int)

In [56]:
df['Price']

0       657000
1       682000
2       793000
3       414000
4       515000
        ...
971     956000
972    1027000
973     736000
974     749000
975     691000
Name: Price, Length: 914, dtype: int32

In [57]:
# Formating the values in 'Price' column

df['Price'] = df['Price'].apply(lambda x: (x/100))
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,"44,611",1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,"20,305",1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,"29,540",2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,"35,680",1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,"25,126",1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,"23,869",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,"14,831",1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,"52,846",1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,"28,335",2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,"41,176",1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [58]:
# Checking to see if there are values in different formats and with different characters

df['Mileage_Run'].apply(type).value_counts()

<class 'str'>    914
Name: Mileage_Run, dtype: int64

In [59]:
# Removing ',' characters from values in 'Mileage_Run' column

df['Mileage_Run'].replace(',', '', regex=True, inplace=True)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [60]:
# Changing the data type

df['Mileage_Run'] = df['Mileage_Run'].astype(int)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [61]:
# df['Mileage_Run'] = df['Mileage_Run'].map(lambda x:'{:,.0f}'.format(x).replace(',', ' '))
# df

In [62]:
# Checking to see if there are values in different formats and with different characters

df['Mileage(kmpl)'].apply(type).value_counts()

<class 'str'>    914
Name: Mileage(kmpl), dtype: int64

In [63]:
# Checking to see if the data types are the same in all values of 'Mileage(kmpl)' column

df['Mileage(kmpl)'].equals('Mileage(kmpl)')

False

In [64]:
# Listing the values of 'Mileage(kmpl)' column

df['Mileage(kmpl)'].unique()

array(['21.66', '17.19', '16.5', '21.7', '18.9', '18.6', '19.4', '17.0',
       '20.07', '22.0', '20.0', '18.15', '21.21', '17.18', '19.6', '23.1',
       '15.8', '18.16', '20.36', '19.1', '17.4', '21.01', '20.92', '18.0',
       '20.2', '17.3', '17.5', '19.05', '20.89', '24.07', '24.75', '21.0',
       '28.4', '18.49', '19.81', '16.11', '24.12', '16.8', '21.79',
       '20.3', '18.19', '25.17', '23.65', '18.4', '15.9', '19.56',
       '20.65', '21.63', '17.74', '18.1', '22.9', '17.57', '23.26',
       '16.95', '16.09', '18.2', '23.7', '18.24', '17.7', '18.27', '16.3',
       '22.05', '20.03', '25.2', '21.04', '16.6', '16.36', '25.44',
       '22.7', '16.7', '13.96', '24.4', '17.1', '21.17', '25.12', '22.54',
       '16.02', '20.18', '18.5', '19.12', '11.67', '22.74', '19.17',
       '24.3', '20.7', '20.73', '17.01', '20.53', '21.1', '22', '16',
       '20', '16.98', '16.1', '18', '14.67', '23.84', '21', '18.7',
       '23.6', '23.01', '25.83', '23 ', '20.14', '19.33', '18.3', '14.81',
       '16.47', '15.29', '17', 'BS IV', '15.4', '27.39', '15.6', '24.7',
       '16.42', '20.45', '18.9 ', '17.57 ', '18.55', '17.41', '16.2',
       '105 bhp @ 4400 RPM', '24.8', '21.9 ', '20.71', '24.52', '31.19 ',
       '16.61', '17.8', '25', '21.9', '19.7', '11.8', '14.3', '10.4',
       '19.67', '19.02', '14.4', '17.71', '19.87', '17.92', '16.5 ',
       '18.88', '15.81', '14.7', '15.1', '21.19', '23.95', '17.7 ',
       '20.52', '19.87 ', '19.2', '23.4', '19.98', '19.03', '11', '13.1',
       '20.77', '19.49', '21.64', '21.05', '19', '13.87 '], dtype=object)

In [65]:
# Cleaning the values

df['Mileage(kmpl)'].replace({'BS IV': '0.0', '105 bhp @ 4400 RPM': '105'}, regex=True, inplace=True)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.5,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.7,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.9,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.4,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.5,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [66]:
# Checking the result

df['Mileage(kmpl)'].unique()

array(['21.66', '17.19', '16.5', '21.7', '18.9', '18.6', '19.4', '17.0',
       '20.07', '22.0', '20.0', '18.15', '21.21', '17.18', '19.6', '23.1',
       '15.8', '18.16', '20.36', '19.1', '17.4', '21.01', '20.92', '18.0',
       '20.2', '17.3', '17.5', '19.05', '20.89', '24.07', '24.75', '21.0',
       '28.4', '18.49', '19.81', '16.11', '24.12', '16.8', '21.79',
       '20.3', '18.19', '25.17', '23.65', '18.4', '15.9', '19.56',
       '20.65', '21.63', '17.74', '18.1', '22.9', '17.57', '23.26',
       '16.95', '16.09', '18.2', '23.7', '18.24', '17.7', '18.27', '16.3',
       '22.05', '20.03', '25.2', '21.04', '16.6', '16.36', '25.44',
       '22.7', '16.7', '13.96', '24.4', '17.1', '21.17', '25.12', '22.54',
       '16.02', '20.18', '18.5', '19.12', '11.67', '22.74', '19.17',
       '24.3', '20.7', '20.73', '17.01', '20.53', '21.1', '22', '16',
       '20', '16.98', '16.1', '18', '14.67', '23.84', '21', '18.7',
       '23.6', '23.01', '25.83', '23 ', '20.14', '19.33', '18.3', '14.81',
       '16.47', '15.29', '17', '0.0', '15.4', '27.39', '15.6', '24.7',
       '16.42', '20.45', '18.9 ', '17.57 ', '18.55', '17.41', '16.2',
       '105', '24.8', '21.9 ', '20.71', '24.52', '31.19 ', '16.61',
       '17.8', '25', '21.9', '19.7', '11.8', '14.3', '10.4', '19.67',
       '19.02', '14.4', '17.71', '19.87', '17.92', '16.5 ', '18.88',
       '15.81', '14.7', '15.1', '21.19', '23.95', '17.7 ', '20.52',
       '19.87 ', '19.2', '23.4', '19.98', '19.03', '11', '13.1', '20.77',
       '19.49', '21.64', '21.05', '19', '13.87 '], dtype=object)

In [67]:
# Changing the data type of values in 'Mileage(kmpl)' column

df['Mileage(kmpl)'] = df['Mileage(kmpl)'].astype(float)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.50,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.70,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.90,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.50,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [68]:
# Listing the values of 'Model' column

df['Model'].unique()

array(['Ameo', 'i20 Active', 'WR-V', 'Kwid', 'Grand i10', 'Elite i20',
       'Brio', 'Harrier', 'Grand i10 Nios', 'Triber', 'Cruze', 'Venue',
       'Safari', 'Swift', 'Yaris', 'Punch', 'Duster', 'Celerio', 'Creta',
       'Etios Liva', 'i10', 'Swift Dzire', 'Verna', 'Baleno', 'Alto K10',
       'Amaze', 'New i20', 'Mobilio', 'Altroz', 'Ignis', 'City',
       'S-Presso', 'Dzire', 'TUV300', 'Eeco', 'Xcent', 'Ciaz',
       'Wagon R 1.0', 'New Santro 1.1', 'Vento', 'EcoSport', 'S-Cross',
       'Magnite', 'Polo', 'Etios', 'Compass', 'Alto 800', 'Tiago', 'Eon',
       'Lodgy', 'Jazz', 'Scorpio', 'Beat', 'Corolla Altis', 'Hector',
       'Seltos', 'Figo', 'Zest', 'Fluidic Verna 4S', 'Ertiga', 'Ritz',
       'Hector Plus', 'Kiger', 'Vitara Brezza', 'XUV500', 'A-Star',
       'Superb', 'i20', 'Nano GenX', 'XUV 300', 'Jetta', 'Rapid',
       'Redi-GO', 'Figo Aspire', 'Freestyle', 'Verna Transform', 'Alto',
       'GO', 'Santro Xing', 'Omni', 'Glanza', 'Wagon R 1.2',
       'Micra Active', 'Nano', 'Scala', 'Nexon', 'Captur'], dtype=object)

In [69]:
# Cleaning the values

df['Model'].replace({'New i20' : 'i20',
                             'Wagon R 1.0' : 'Wagon R', 
                             'Wagon R 1.2' : 'Wagon R',
                             'New Santro 1.1' : 'New Santro'}, regex=True, inplace=True)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.50,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.70,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.90,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.50,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [70]:
# Checking the result

df['Model'].unique()

array(['Ameo', 'i20 Active', 'WR-V', 'Kwid', 'Grand i10', 'Elite i20',
       'Brio', 'Harrier', 'Grand i10 Nios', 'Triber', 'Cruze', 'Venue',
       'Safari', 'Swift', 'Yaris', 'Punch', 'Duster', 'Celerio', 'Creta',
       'Etios Liva', 'i10', 'Swift Dzire', 'Verna', 'Baleno', 'Alto K10',
       'Amaze', 'i20', 'Mobilio', 'Altroz', 'Ignis', 'City', 'S-Presso',
       'Dzire', 'TUV300', 'Eeco', 'Xcent', 'Ciaz', 'Wagon R',
       'New Santro', 'Vento', 'EcoSport', 'S-Cross', 'Magnite', 'Polo',
       'Etios', 'Compass', 'Alto 800', 'Tiago', 'Eon', 'Lodgy', 'Jazz',
       'Scorpio', 'Beat', 'Corolla Altis', 'Hector', 'Seltos', 'Figo',
       'Zest', 'Fluidic Verna 4S', 'Ertiga', 'Ritz', 'Hector Plus',
       'Kiger', 'Vitara Brezza', 'XUV500', 'A-Star', 'Superb',
       'Nano GenX', 'XUV 300', 'Jetta', 'Rapid', 'Redi-GO', 'Figo Aspire',
       'Freestyle', 'Verna Transform', 'Alto', 'GO', 'Santro Xing',
       'Omni', 'Glanza', 'Micra Active', 'Nano', 'Scala', 'Nexon',
       'Captur'], dtype=object)

In [71]:
# Changing the column name

df.rename(columns = {'Mileage(kmpl)' : 'Mileage(l/100km)'}, inplace=True)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,21.66,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,17.19,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,16.50,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,21.70,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,18.90,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,17.40,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,17.01,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,18.50,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,20.89,BS V,6910.0,976

In [72]:
# Listing the values of 'Mileage(l/100km)' column

df['Mileage(l/100km)'].unique()

array([ 21.66,  17.19,  16.5 ,  21.7 ,  18.9 ,  18.6 ,  19.4 ,  17.  ,
        20.07,  22.  ,  20.  ,  18.15,  21.21,  17.18,  19.6 ,  23.1 ,
        15.8 ,  18.16,  20.36,  19.1 ,  17.4 ,  21.01,  20.92,  18.  ,
        20.2 ,  17.3 ,  17.5 ,  19.05,  20.89,  24.07,  24.75,  21.  ,
        28.4 ,  18.49,  19.81,  16.11,  24.12,  16.8 ,  21.79,  20.3 ,
        18.19,  25.17,  23.65,  18.4 ,  15.9 ,  19.56,  20.65,  21.63,
        17.74,  18.1 ,  22.9 ,  17.57,  23.26,  16.95,  16.09,  18.2 ,
        23.7 ,  18.24,  17.7 ,  18.27,  16.3 ,  22.05,  20.03,  25.2 ,
        21.04,  16.6 ,  16.36,  25.44,  22.7 ,  16.7 ,  13.96,  24.4 ,
        17.1 ,  21.17,  25.12,  22.54,  16.02,  20.18,  18.5 ,  19.12,
        11.67,  22.74,  19.17,  24.3 ,  20.7 ,  20.73,  17.01,  20.53,
        21.1 ,  16.  ,  16.98,  16.1 ,  14.67,  23.84,  18.7 ,  23.6 ,
        23.01,  25.83,  23.  ,  20.14,  19.33,  18.3 ,  14.81,  16.47,
        15.29,   0.  ,  15.4 ,  27.39,  15.6 ,  24.7 ,  16.42,  20.45,
        18.55,  17.41,  16.2 , 105.  ,  24.8 ,  21.9 ,  20.71,  24.52,
        31.19,  16.61,  17.8 ,  25.  ,  19.7 ,  11.8 ,  14.3 ,  10.4 ,
        19.67,  19.02,  14.4 ,  17.71,  19.87,  17.92,  18.88,  15.81,
        14.7 ,  15.1 ,  21.19,  23.95,  20.52,  19.2 ,  23.4 ,  19.98,
        19.03,  11.  ,  13.1 ,  20.77,  19.49,  21.64,  21.05,  19.  ,
        13.87])

In [73]:
# Cleaning the values and checking the result

df['Mileage(l/100km)'].replace(0.0, np.nan, inplace=True)
df['Mileage(l/100km)'].unique()

array([ 21.66,  17.19,  16.5 ,  21.7 ,  18.9 ,  18.6 ,  19.4 ,  17.  ,
        20.07,  22.  ,  20.  ,  18.15,  21.21,  17.18,  19.6 ,  23.1 ,
        15.8 ,  18.16,  20.36,  19.1 ,  17.4 ,  21.01,  20.92,  18.  ,
        20.2 ,  17.3 ,  17.5 ,  19.05,  20.89,  24.07,  24.75,  21.  ,
        28.4 ,  18.49,  19.81,  16.11,  24.12,  16.8 ,  21.79,  20.3 ,
        18.19,  25.17,  23.65,  18.4 ,  15.9 ,  19.56,  20.65,  21.63,
        17.74,  18.1 ,  22.9 ,  17.57,  23.26,  16.95,  16.09,  18.2 ,
        23.7 ,  18.24,  17.7 ,  18.27,  16.3 ,  22.05,  20.03,  25.2 ,
        21.04,  16.6 ,  16.36,  25.44,  22.7 ,  16.7 ,  13.96,  24.4 ,
        17.1 ,  21.17,  25.12,  22.54,  16.02,  20.18,  18.5 ,  19.12,
        11.67,  22.74,  19.17,  24.3 ,  20.7 ,  20.73,  17.01,  20.53,
        21.1 ,  16.  ,  16.98,  16.1 ,  14.67,  23.84,  18.7 ,  23.6 ,
        23.01,  25.83,  23.  ,  20.14,  19.33,  18.3 ,  14.81,  16.47,
        15.29,    nan,  15.4 ,  27.39,  15.6 ,  24.7 ,  16.42,  20.45,
        18.55,  17.41,  16.2 , 105.  ,  24.8 ,  21.9 ,  20.71,  24.52,
        31.19,  16.61,  17.8 ,  25.  ,  19.7 ,  11.8 ,  14.3 ,  10.4 ,
        19.67,  19.02,  14.4 ,  17.71,  19.87,  17.92,  18.88,  15.81,
        14.7 ,  15.1 ,  21.19,  23.95,  20.52,  19.2 ,  23.4 ,  19.98,
        19.03,  11.  ,  13.1 ,  20.77,  19.49,  21.64,  21.05,  19.  ,
        13.87])

In [74]:
# Changing the values to conform to L/100km format
# Rounding the result to 2 decimal points

df['Mileage(l/100km)'] = df['Mileage(l/100km)'].map(lambda x: (100/x))
df['Mileage(l/100km)'] = df['Mileage(l/100km)'].round(2)
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,4.62,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,5.82,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,6.06,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,4.61,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,5.29,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Hyundai,Verna,2018,White,Sedan,23869,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,5.75,BS V,9560.0,972
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,5.75,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,5.88,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,5.41,BS V,7490.0,975
975,Maruti Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,4.79,BS V,6910.0,976

In [78]:
# Listing the values of 'Fuel_Type' column

df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Petrol+Cng'], dtype=object)

In [79]:
# Finding the rows where 'Fuel_Type' == 'Petrol+Cng'

df.loc[df['Fuel_Type'] == 'Petrol+Cng']

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
465,Maruti Suzuki,S-Presso,2022,White,Hatchback,12076,1st,5,Petrol+Cng,27,998,5-Speed,Manual,58.0,78.0,3.21,BS IV,6860.0,466
913,Maruti Suzuki,S-Presso,2021,Silver,Hatchback,17101,1st,5,Petrol+Cng,27,998,5-Speed,Manual,67.0,90.0,3.21,BS IV,6120.0,914

In [80]:
# Listing the values of 'Make' column

df['Make'].unique()

array(['Volkswagen', 'Hyundai', 'Honda', 'Renault', 'Tata', 'Chevrolet',
       'Maruti Suzuki', 'Toyota', 'Mahindra', 'Ford', 'Nissan', 'Jeep',
       'MG Motors', 'Kia', 'Skoda', 'Datsun'], dtype=object)

In [81]:
# Splitting the list of values in 'Make' column and returning them in a new row

df['Make'] = df['Make'].str.split(' ')
df = df.explode('Make')
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,4.62,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,5.82,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,6.06,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,4.61,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,5.29,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,5.75,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,5.88,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,5.41,BS V,7490.0,975
975,Maruti,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,4.79,BS V,6910.0,976
975,Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,4.79,BS V,6910.0,976

In [82]:
# Splitting the list of values in 'Fuel_Type' column and returning them in a new row

df['Fuel_Type'] = df['Fuel_Type'].str.split('+')
df = df.explode('Fuel_Type')
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.00,4.62,BS IV,6570.0,1
1,Hyundai,i20 Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.00,5.82,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.00,6.06,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.00,4.61,BS IV,4140.0,4
4,Hyundai,Grand i10,2017,Orange,Hatchback,25126,1st,5,Petrol,43,1197,5-Speed,Manual,81.86,113.75,5.29,BS V,5150.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.00,5.75,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.00,5.88,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.00,5.41,BS V,7490.0,975
975,Maruti,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,4.79,BS V,6910.0,976
975,Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.00,4.79,BS V,6910.0,976

In [83]:
# Checking the results

df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Cng'], dtype=object)

In [84]:
# Splitting the list of values in 'Model' column and returning them in a new row

df['Model'] = df['Model'].str.split(' ')
df = df.explode('Model')
df

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
0,Volkswagen,Ameo,2017,Silver,Sedan,44611,1st,5,Diesel,45,1498,7-Speed,Automatic,109.00,250.0,4.62,BS IV,6570.0,1
1,Hyundai,i20,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.0,5.82,BS V,6820.0,2
1,Hyundai,Active,2016,Red,Crossover,20305,1st,5,Petrol,45,1197,5-Speed,Manual,82.00,115.0,5.82,BS V,6820.0,2
2,Honda,WR-V,2019,White,Suv,29540,2nd,5,Petrol,40,1199,5-Speed,Manual,88.50,110.0,6.06,BS IV,7930.0,3
3,Renault,Kwid,2017,Bronze,Hatchback,35680,1st,5,Petrol,28,999,5-Speed,Manual,67.00,91.0,4.61,BS IV,4140.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Hyundai,Verna,2019,White,Sedan,14831,1st,5,Petrol,43,1591,6-Speed,Automatic,121.00,158.0,5.75,BS V,10270.0,973
973,Hyundai,Verna,2014,Silver,Sedan,52846,1st,5,Petrol,43,1591,4-Speed,Automatic,121.00,158.0,5.88,BS III,7360.0,974
974,Ford,Freestyle,2020,White,Crossover,28335,2nd,5,Diesel,42,1499,5-Speed,Automatic,98.96,215.0,5.41,BS V,7490.0,975
975,Maruti,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.0,4.79,BS V,6910.0,976
975,Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.0,4.79,BS V,6910.0,976

In [85]:
# Finding the rows with the same car_id

res = df[df.groupby('car_id')['Make'].transform('nunique') > 1]
res

,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(l/100km),Emission,Price,car_id
14,Maruti,Swift,2019,White,Hatchback,31994,1st,5,Petrol,37,1197,5-Speed,Manual,81.80,113.0,4.71,BS IV,6660.0,15
14,Suzuki,Swift,2019,White,Hatchback,31994,1st,5,Petrol,37,1197,5-Speed,Manual,81.80,113.0,4.71,BS IV,6660.0,15
21,Maruti,Celerio,2014,Yellow,Hatchback,22598,1st,5,Petrol,35,998,5-Speed,Manual,67.04,90.0,4.33,BS IV,3710.0,22
21,Suzuki,Celerio,2014,Yellow,Hatchback,22598,1st,5,Petrol,35,998,5-Speed,Manual,67.04,90.0,4.33,BS IV,3710.0,22
25,Maruti,Swift,2014,Blue,Sedan,28562,1st,5,Petrol,42,1197,5-Speed,Manual,85.80,114.0,5.24,BS IV,5540.0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Suzuki,Swift,2019,Grey,Hatchback,21992,2nd,5,Petrol,37,1197,5-Speed,Automatic,81.80,113.0,4.71,BS IV,8290.0,969
970,Maruti,Dzire,2017,Blue,Sedan,33258,1st,5,Petrol,37,1197,5-Speed,Automatic,88.50,113.0,4.30,BS V,7220.0,971
970,Suzuki,Dzire,2017,Blue,Sedan,33258,1st,5,Petrol,37,1197,5-Speed,Automatic,88.50,113.0,4.30,BS V,7220.0,971
975,Maruti,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.0,4.79,BS V,6910.0,976
975,Suzuki,Ignis,2018,Silver,Hatchback,41176,1st,5,Petrol,32,1197,5-Speed,Automatic,81.80,113.0,4.79,BS V,6910.0,976

In [ ]:
# Saving the cleaned data to a CSV file

df.to_csv(r'csv/car_data_1NF.csv', sep=',', encoding='utf-8', index=None, header='true')